* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.study-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
	flex-direction: column;
}
.study-form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 16px;
	width: 45%;
	border: 1px solid black;
}
.study-form__heading {
	background-color: #6983a3;
	color: white;
	width: 100%;
	text-align: center;
	padding: 8px 0;
}
.study-form__body {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 16px;
	background-color: #eaf1f9;
}
.study-form__container {
	display: flex;
	flex-direction: row;
}
.study-form__control {
	font-size: 1em;
	margin: 6px 0;
	display: flex;
}
.study-form__control label {
	min-width: 150px;
	display: flex;
	align-items: center;
}
.study-form__control input {
	flex: 2;
	padding: 4px;
	border-radius: 3px;
}
.study-form__left {
	flex: 2.5;
}
.study-form__right {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	flex: 1;
}
.study-form__right img {
	width: 200px;
}
.study-form__control--half {
	display: flex;
	flex-direction: row;
	flex: 1;
	margin: 0 4px;
}
.study-form__control--half label {
	min-width: 60px;
}
.study-form__control--textarea {
	display: flex;
	flex-direction: column;
}
.study-form__control--textarea textarea {
	margin: 6px 0;
	padding: 8px;
	height: 80px;
	border-radius: 3px;
	resize: none;
}
.study-form__control--checkbox {
	display: flex;
	flex-direction: column;
}
.study-form__control--checkbox__item {
	margin-top: 12px;
	display: flex;
	align-items: center;
}
.study-form__control--checkbox__item input {
	--size-checkbox: 18px;
	margin: 0 4px 0 0;
	width: var(--size-checkbox);
	height: var(--size-checkbox);
}
.study-submit {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.study-submit button {
	padding: 8px 16px;
	background-color: #6983a3;
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.3s;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
.study-result {
	margin-top: 40px;
	display: flex;
	width: 45%;
	flex-direction: column;
	padding: 24px 16px;
	background-color: #6983a3;
	color: white;
	border-radius: 3px;
}
.study-result h1 {
	text-align: center;
	font-size: 2rem;
}
